html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(255, 255, 255);
}
body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.topcontainer {
    width: 100%;
    text-align: center;
    background-color: transparent;
    padding: 13%;
    margin-bottom: 20px;
}

.documentoscontainer {
    max-width: 1200px;
    max-height: 900px;
    padding-top: 70px;
    background-color: #6e6e6e;
    background-size: 80%;
    border: 1px solid #ddd;

    text-align: center;
    padding: 100px;
}

.documentos-content h1 {
    margin-bottom: 20px;
}

.documentos-lista {
    margin-top: 20px;
}

.documento {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.documento h2 {
    margin: 0;
}

.documento p {
    margin: 5px 0;
}

.documento span {
    display: block;
    margin-bottom: 5px;
}

.descargar-btn {
    color: #007bff;
    text-decoration: none;
}

.descargar-btn:hover {
    text-decoration: underline;
}

.documentos-footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.documentos-footer p {
    margin: 5px 0;
}
