
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');




.Calendario{
    height: 520px;
    width: 90%;
    margin: 5%;
    background-color: white;
    border-radius: 15px;
    color: black;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    float: left;
}


.main-container ul
{
    list-style: none;
    white-space: nowrap;
}
.main-container li {
    list-style: none;
    white-space: nowrap;
    display: inline;
}


.main-container img {
  width: 105%;
  height: 520px;
}


.main-container {
  width: 90%;
  height: 520px;
  margin: 5%;  
  float: left;
}

.slider-container {
  position: relative;
  height: 100%;
}

.dots-container {
  display: flex;
  justify-content: center;

}

.dot-container-item {
  margin: 8px 3px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;

}

.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -40%);
  left: 32px;
  font-size: 50px;
  font-weight: 700;
  color: black;
  z-index: 1;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -40%);
  right: 32px;
  font-size: 50px;
  font-weight: 700;
  color: black;
  z-index: 1;
  cursor: pointer;
}

.container-images {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #eee;
  overflow: hidden;
}

.custom-card {
  width: 20%;
  margin: 3%;
  float: left;
  height: 400px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover */
.custom-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.custom-card-img {
  padding: 5%;
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}


.footerContainer {
  background-color: #343a40;
  color: white;
  text-align: center;
  height: 200px;
  padding: 3%;
}

.socialButtons {
  margin-bottom: 1rem;
}

.footerText {
  background-color: #343a40;
  padding: 1rem;
}

.socialBtn {
  margin: 0.5rem;
}
